.container{
display: flex;
flex-direction: column;
     
        max-width: 30rem;
        min-width: 30rem;
        padding: 2.66rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        border-radius: 10px;
        background-color: antiquewhite;

}

.signin{
    display: flex;
    justify-content: center;
    background-color:rgb(164, 117, 155);
}
.logo{
    text-align: center;
    color: rgb(164, 117, 155);
}
.container,a{
    text-decoration: none;
}